@font-face {
    font-family: 'Inter';
    src: url('/src/fonts/inter.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/src/fonts/RobotoSlab.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}